{% extends 'layout.twig' %}

{% block title %}{% trans %}Error{% endtrans %} 404{% endblock %}

{% block content %}
    <div class="p-5 rounded-3 bg-danger text-light text-center">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">{% trans %}Error{% endtrans %} 404 - {% trans %}Not Found{% endtrans %}</h1>
            <p class="lead">{% trans %}This is an example page.{% endtrans %}</p>
            <code class="text-light">resources/views/errors/404.twig</code>
        </div>
    </div>
{% endblock %}
