{% extends 'layout.twig' %}

{% block title %}Error 404{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid text-center text-light bg-danger">
        <div class="container">
            <h1 class="display-4">Error 404 - Not Found</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
{% endblock %}