{% extends 'layout.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="p-5 rounded-3 bg-light text-center">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">Home</h1>
            <p class="lead">This is an example page.</p>
            <code>resources/views/home/index.twig</code>
        </div>
    </div>
{% endblock %}
