{% extends 'layout.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block content %}
    <div class="p-5 rounded-3 bg-light text-center">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">{% trans %}Contact{% endtrans %}</h1>
            <p class="lead">{% trans %}This is an example page.{% endtrans %}</p>
            <code>resources/views/contact/index.twig</code>
        </div>
    </div>
{% endblock %}
