{% extends 'layout.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block content %}
    <div class="py-24 sm:py-32">
        <div class="text-center space-y-2">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
                {% trans %}Contact{% endtrans %}
            </h1>
            <p class="text-base leading-7 text-gray-600">
                {% trans %}This is an example page.{% endtrans %}
            </p>
            <p class="text-indigo-600">
                <code>resources/views/contact/index.twig</code>
            </p>
        </div>
    </div>
{% endblock %}
