{% extends 'layout.twig' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="p-5 rounded-3 bg-light text-center">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">About</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat quis mauris eu porttitor.</p>
        </div>
    </div>
{% endblock %}
