# GitHub Actions Documentation: https://docs.github.com/en/actions
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coding-standards:
    name: Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v2

      - name: Check coding standards (PHP_CodeSniffer)
        run: composer lint:style

  static-analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: latest
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v2

      - name: Statically analyse code (PHPStan)
        run: composer analyse:phpstan

      - name: Statically analyse code (Psalm)
        run: composer analyse:psalm

  unit-tests:
    name: Unit Tests (PHP ${{ matrix.php-version }}) on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        php-version: [8.1, 8.2]
        os: [ubuntu-latest, macos-latest, windows-latest]
        dependencies: [lowest, highest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Install dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.dependencies }}

      - name: Run unit tests (PHPUnit)
        run: composer test
